.headerOsto{
    display: flex;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    padding: 2em;
    place-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h1Osto{
    font-size: 60px;
}
.navOsto{
    display: flex;
    background-color: rgb(61, 61, 61);
    padding: 0.5em;
    place-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navUlOsto{
    list-style: none;
}
.liOsto{
    display: inline-block;
    margin: 10px;
}
.aOsto{
    text-decoration: none;
    font-size: 24px;
    color: rgb(214, 205, 205);
}
a:hover{
    color: rgb(255, 0, 0);
}
.aOsto1{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.h2Osto{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0.8em;
}
.pOsto{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;}
    input[type=text], option, input [type=tel], input [type=email]{
        width: 100%;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      main {
          background-color: #f2f2f2;
          margin-left: 10px;
      }
      button[type=submit] {
        width: 50%;
        background-color: #429fc1;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      p2{
        margin-bottom: 100px;
      }
      main header, main p {
        text-align: center;
        margin-top: 20px ;
      }
      strong{
        font-size: larger;
      }
      main div {
        border-radius: 5px;
        padding-right: 5%;
      }    
      footer{
        background-color: rgb(74, 73, 73);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        color: white;
    }
    footer h2{
        text-align: right;
        font-size: medium;
    }
    footer section{
background-color: rgb(35, 34, 34);
    }
    footer a{
        text-align: right;
        margin: 20px 15px; 
        color: white;
    }
    footer h3{
        margin: 20px 10px; 
    }
    footer h2{
        text-align: center;
    }
    footer p, footer h2 {
            margin: 5px;
        }
        .vali {
            display: flex;
            justify-content: space-between;
        }
        .valit {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    .Ostoimg {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 200px; 
        max-height: 200px;
        margin-right: 20px;
    }
    .no-margin-bottom {
        margin-bottom: 0;
      }
    .no-margin-top {
        margin-top: 0;
    }