/*ostotarjoukset hallinnointisivun tyylit */

.headerOsto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    padding: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.h1Osto {
    font-size: 60px;
    margin-bottom: 0;
}

.h2Osto {
    font-size: 30px;
    margin-top: 0;
}
.navOsto{
    position: relative; /* Asetetaan suhteellinen sijoittelu, jotta voimme käyttää absoluuttista sijoittelua ala-elementeille */
    background-color: rgb(61, 61, 61);
    padding: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navUlOsto{
    list-style: none;
}
.liOsto{
    display: inline-block;
    margin: 0 10px; /* Lisätään marginaali molempiin reunoille */
}
.aOsto{
    text-decoration: none;
    font-size: 24px;
    color: rgb(214, 205, 205);
}
.liUloskirjaus{
    position: absolute; /* Asetetaan absoluuttinen sijoittelu */
    right: 10px; /* Sijoitetaan oikealle */
    bottom: 10px; /* Sijoitetaan alareunaan */
}
.aUloskirjaus{
    text-decoration: none;
    font-size: 18px; /* Pienempi fonttikoko */
    color: rgb(214, 205, 205);
}
.mainOsto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90%!important; /* Muutettu leveys täyttämään suurimman osan sivusta */
    margin-left: auto; /* Keskittää taulukon sivun keskelle */
    margin-right: auto;
}
.divOsto{
    margin-bottom: 20px;
}
.otsikko{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tableOsto {
    margin-bottom: 20px;
    border: 2px solid #ddd; /* Lisäämme 2 pikselin harmaat reunat taulukon ympärille */
    border-collapse: collapse; /* Yhdistetään solujen reunat */
    width: 90%!important; /* Muutettu leveys täyttämään suurimman osan sivusta */
    margin-left: auto; /* Keskittää taulukon sivun keskelle */
    margin-right: auto;
}

.tableOsto th, .tableOsto td {
    border: 1px solid #ddd; /* Lisätään 1 pikselin harmaat reunat soluihin */
    padding: 6px; /* Lisäämme hieman tilaa solujen sisäpuolelle */
    line-height: 1.4;
    text-align: center;
    word-wrap: break-word; /* Teksti katkeaa ja jatkuu uudella rivillä tarvittaessa */
    overflow: auto; /* Jos soluun tulee liikaa tekstiä, siihen tulee vierityspalkit */
}

.tableOsto th {
    background-color: #f2f2f2; /* Taustaväri otsikoille */
    font-weight: bold; /* Lihavoi otsikot */
    text-align: center; /* Asetetaan tekstin vasen kohdistus otsikoille */
}

.tableOsto tr:nth-child(even) {
    background-color: #f9f9f9; /* Vaihtoehtoinen taustaväri parillisille riveille */
}
.tableOsto img {
    max-width: 150px;
    max-height: 150px;
}
.formOsto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 20px auto;
  }
  
.formOsto input {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 80%;
    margin: 10px;
    text-align: center;
  }
  
.formOsto input[type="submit"] {
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 200px;
    margin-top: 20px;
  }
  .formOsto input[type="button"] {
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    margin-top: 20px;
  }


/*Huolto-sivun tyylit */

.headerHuolto{
    display: flex;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    padding: 2em;
    place-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h1Huolto{
    font-size: 60px;
}
.navHuolto{
    display: flex;
    background-color: rgb(61, 61, 61);
    padding: 0.5em;
    place-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navUlHuolto{
    list-style: none;
}
.liHuolto{
    display: inline-block;
    margin: 10px;
}
.aHuolto{
    text-decoration: none;
    font-size: 24px;
    color: rgb(214, 205, 205);
}
a:hover{
    color: rgb(255, 0, 0);
}
.aHuolto1{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.h2Huolto{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0.8em;
}
.pHuolto{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}
section.sectionHuolto{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;
}
img.imgHuolto{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;
}
form.formHuolto{
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3em;
}
.mainHuolto{
    background-color: rgb(245, 245, 245);
}

/*Index-sivun tyylit */

.topPartIndex{
    background-image: url('../images/autoOranssi169.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.headerIndex{
    display: flex;
    place-content: center;
    color: rgb(255, 255, 255);
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h1Index{
    font-size: 90px;
}
.navIndex{
    display: flex;
    place-content: center;
    padding-bottom: 650px;
}
.navUlIndex{
    list-style: none;
}
.navLiIndex{
    display: inline-block;
    margin: 40px;
}
.navAindex{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainIndex{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    background-color: rgb(245, 245, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h2Index{
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 60px;
}
.sectionIndex{
    display: flex;
    flex-direction: row;
    place-content: center;
}
.imgIndex{
    max-width: 600px;
    max-height: 600px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 40px;
}

/*Footer tyylit Huolto-sivulla */

footer{
    background-color: rgb(74, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
}
footer h2{
    text-align: right;
    font-size: medium;
}
footer section{
    background-color: rgb(35, 34, 34);
}
footer a{
    text-align: right;
    margin: 20px 15px; 
    color: white;
}
footer h3{
    margin: 20px 10px; 
}
footer h2{
    text-align: center;
}
footer p, footer h2 {
    margin: 5px;
}
.vali {
    display: flex;
    justify-content: space-between;
}
.valit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}