.headerHuolto{
    display: flex;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    padding: 2em;
    place-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h1Huolto{
    font-size: 80px;
}
.navHuolto{
    display: flex;
    background-color: rgb(61, 61, 61);
    padding: 0.5em;
    place-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.navUlHuolto{
    list-style: none;
}
.liHuolto{
    display: inline-block;
    margin: 20px;
}
.aHuolto{
    text-decoration: none;
    font-size: 24px;
    color: rgb(214, 205, 205);
}
a:hover{
    color: rgb(255, 0, 0);
}
.aHuolto1{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.h2Huolto{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0.8em;
}
.pHuolto{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}
section.sectionHuolto{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2em;
}
img.imgHuolto{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;
}
form.formHuolto{
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3em;
}
.mainHuolto{
    background-color: rgb(245, 245, 245);
}
.topPartIndex{
    background-image: url('../images/autoTie3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.headerIndex{
    display: flex;
    place-content: center;
    color: rgb(255, 255, 255);
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h1Index{
    font-size: 90px;
}
.navIndex{
    display: flex;
    place-content: center;
    padding-bottom: 650px;
}
.navUlIndex{
    list-style: none;
}
.navLiIndex{
    display: inline-block;
    margin: 40px;
}
.navAindex{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainIndex{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    background-color: rgb(245, 245, 245);
}
.h2Index{
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 60px;
}
.sectionIndex{
    display: flex;
    flex-direction: row;
    place-content: center;
}
.imgIndex{
    max-width: 600px;
    max-height: 600px;
    padding: 10px;
    margin-top: 50px;
}